<p>Mariana</p>
<!--
<div style="background: lightBlue">
  <p>VOTOS: {{i}}</p>
  <p>HABILITADOS: {{j}}</p>
  <p>DESHABILITADOS: {{k}}</p> 
</div>

<div *ngFor="let alumno of alumnos">
  <div *ngIf="!alumno.voto" [ngStyle]="{'background': alumno.habilitado ? 'orange' : 'blue'}">
    <app-prueba 
      [nombre]="alumno.nombre" 
      [apellido]="alumno.apellido" 
      [habilitado]="alumno.habilitado" 
      [nacimiento]="alumno.nacimiento">
  </app-prueba>
  <button (click)="alumno.voto = true">Votar</button>
  </div>
  -->



