<p>Mariana</p>
<!--
<div style="background: lightBlue">
  <p>VOTOS: {{i}}</p>
  <p>HABILITADOS: {{j}}</p>
  <p>DESHABILITADOS: {{k}}</p> 
</div>

<div *ngFor="let alumno of alumnos">
  <div *ngIf="!alumno.voto" [ngStyle]="{'background': alumno.habilitado ? 'orange' : 'blue'}">
    <app-prueba 
      [nombre]="alumno.nombre" 
      [apellido]="alumno.apellido" 
      [habilitado]="alumno.habilitado" 
      [nacimiento]="alumno.nacimiento">
  </app-prueba>
  <button (click)="alumno.voto = true">Votar</button>
  </div>
  -->
  <app-tarea *ngIf="sw" name="mariana"></app-tarea>
  <button (click)="sw=false;">Change sw</button>


<div *ngFor="let person of people">
  <div [ngStyle]="{ 'background': person.enable ? 'yellow': 'red'}">
  <persona 
    [name]='person.name' 
    [lastName]='person.lastName' 
    [age]= 'person.age'
    [enable]='person.enable'>
  </persona>
  </div>
</div>
 

<prod1></prod1>
